// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
   
    background-color: #080a0b;
    color: #fff;
}


.h2fontlog {
    font-family: Georgia, serif; 

}
header.display-4 { 
    font-family: Georgia, serif;
    padding-bottom: 8.5rem !important; 

}

// footer fixed-bottom {
    
//     background-color:black;
//    }


// section:first-of-type {
//     background: url("zen1.jpeg");
//     background-repeat: no-repeat;
//     background-size: 100% 100% ;
// }

// html { 
//     background: url("Fuji_dark.jpeg") no-repeat center center fixed; 
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
//   }



section:not(:first-of-type) {
    min-height: 100vh;
    border-top: none;
}

section:nth-of-type(2) {
    background: #14181b;
}

section:nth-of-type(3) {
    background: #121618;
}

section:nth-of-type(4) {
    background: #0d1012;
}

section:nth-of-type(5) {
    background: #090c0d;
}

.nav-link:hover, .nav-link:focus {
    color: #f2709c;
}


.navbar-toggler-icon {
    float: right;
    top: -105px;
}

.py-3 {

    float: left;
}

li.login-form2 { 
    float: left;
}

.bg-white {
    margin: 0 0 0 0;
    font-family: Arial;
    font-size: 100%;
    width: 100%;
    overflow: hidden;
}



.bootstrap-select .bs-ok-default::after {
    width: 0.3em;
    height: 0.6em;
    border-width: 0 0.1em 0.1em 0;
    transform: rotate(45deg) translateY(0.5rem);
}

.btn.dropdown-toggle:focus {
    outline: none !important;
}