
body {
    // background: url("zen1.jpeg") repeat 0 0; 
    background: #080a0b;
    color: #fff;
}



section:first-of-type {
    background: url("Fuji_dark.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100% ;
}


section:not(:first-of-type) {
    min-height: 100vh;
    border-top: none;
}

section:nth-of-type(2) {
    background: #14181b;
}

section:nth-of-type(3) {
    background: #121618;
}

section:nth-of-type(4) {
    background: #0d1012;
}

section:nth-of-type(5) {
    background: #090c0d;
}

.nav-link:hover, .nav-link:focus {
    color: #f2709c;
}


.navbar-toggler-icon {
    float: right;
    top: -105px;
}

.py-3 {

    float: left;
}

.bg-white {
    margin: 0 0 0 0;
    font-family: Arial;
    font-size: 100%;
    width: 100%;
    overflow: hidden;
}

figure.rounded .p-3 .bg-white .shadow-sm {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    position: absolute;
    transform: translate(-50%, -50%)
    
}


.bootstrap-select .bs-ok-default::after {
    width: 0.3em;
    height: 0.6em;
    border-width: 0 0.1em 0.1em 0;
    transform: rotate(45deg) translateY(0.5rem);
}

.btn.dropdown-toggle:focus {
    outline: none !important;
}


  .py-5 {
      text-align: center;
  }
  
  

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);

blockquote{
    font-size: 1.4em;
    margin:50px auto;
    font-family:Open Sans;
    font-style:italic;
    color: #555555;
    padding:1.2em 30px 1.2em 75px;
    border-left:8px solid #78C0A8 ;
    line-height:1.6;
    position: relative;
    background:#EDEDED;
}

blockquote::before{
    font-family:Arial;
    content: "\201C";
    color:#78C0A8;
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
}

blockquote::after{
content: '';
}

blockquote span{
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
}

footer.blockquote-footer{
    font-size: 100%
}

.caption-1 figcaption {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
div.col-lg-4 {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

img.w-100.card-img-top {
    display: block;
}

  body {
    min-height: 100vh;
    background: #eeeeee;
  }
  
  .border-md {
    border-width: 2px !important;
  }
  
  .separator {
    border-bottom: 1px dashed #aaa;
  }
  
  .text-small {
    font-size: 0.85rem;
  }

  .font-bigbold {
    font-size: 2.0rem;
  }

  .h2font {
    font-family: Georgia, serif;
    padding-bottom: 8.5rem !important; 

}
// footer {
    
//     background-color:black;
//    }



// html {
//     scroll-behavior: smooth;
//   }

// text {
//     text-align: center;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     color: white;
//     margin: 0;
//     font-family: Arial, Helvetica, sans-serif;
// }

