
<div class="container py-5">
    <div class="col-lg-6 mx-auto">
        <label class="text-black mb-3 lead">How are you feeling today?</label>
        <br>
        <%= form_for @usermood do |f| %>
        <li style="list-style-type:none;">
        <%= f.collection_select :mood_id, Mood.all, :id, :name, class:"selectpicker w-100" %>
        </li>
        <br>
        <%= f.submit "Select Mood", class: "btn btn-outline-light px-4 rounded-0 scroll-top" %>
        <%end%>
        <br>
        <br>
        <br>
    </div>
</div>