
<div class="container py-5">
    <div class="col-lg-6 mx-auto">
        <label class="text-black mb-3 lead">How are you feeling today?</label>
        <%= form_for @usermood do |f| %>
        <%= f.collection_select :mood_id, Mood.all, :id, :name %>
        <%= f.submit "Select Mood"%>
        <%end%>
    </div>
</div>