<h1>Your Moods</h1>

<% @usermoods.each do |usermood| %>
    <li>
    <%= link_to usermood.mood.name, user_mood_path(usermood) %> (<%=usermood.created_at.strftime('%A, %B %d, %Y') %>)
    </li>
<%end%>



